.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.content {
  display: flex;
}

.tableWrapper {
  overflow-x: auto;
  min-width: 100%;
  border-radius: 0 0 10px 10px;
}

.tableWrapper::-webkit-scrollbar {
  height: 3px;
}

.tableWrapper::-webkit-scrollbar-track {
  background-color: none;
}

.tableWrapper::-webkit-scrollbar-thumb {
  /*border-radius: 100px;*/
  background-color: #17598C;
  height: 100%;
  border-radius: 1.5px;
}

.toEventsLinkWrapper {
  margin: 0 0 20px 20px;

  a {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #504F4F;
    text-decoration: none;
  }
}

.buttonWraper {
  display: flex;
  justify-content: flex-end;
  margin: 20px 20px 20px 0;
}

.inProgress {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #17598C;
}

.outdated {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #B04040;
}

.ready {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #8DB040;
}

.planned {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #504F4F;
}

.table {
  position: relative;
  background-color: #f4f4f4;
  border-collapse: collapse;
  min-width: 100%;

  td,
  th {
    padding-right: 20px;
  }

  td {
    vertical-align: top;
  }

  // tr:last-child td {
  //   padding-bottom: 5px;
  // }
}

.tableHeader {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #504F4F;
  text-align: left;
}

.titleCol {
  position: sticky;
  // left: 0;
  min-width: 365px;
  overflow: hidden;
  text-overflow: ellipsis;
  // border-right: 0.5px solid #504F4F;
  padding-left: 20px;
}

.dateCol {
  min-width: 177px;
}

.additionalCol {
  min-width: 120px;
}

.statusCol {
  min-width: 160px;
  padding-left: 20px;  
}

.emptyEvents {
  padding: 20px;
  border-right: 0.5px solid #504F4F;
}

.oddRow {
  background-color: #F4F4F4;
}

.evenRow {
  background-color: #FFF;
}

.tableRow:hover {
  background: rgba(23, 89, 140, 0.5);
  color: white;
  cursor: pointer;
}

.activeRow {
  background: rgba(23, 89, 140);
  color: white;
}