.wrapper {
  display: flex;
  flex-direction: column;
  width: 60%;

  box-sizing: border-box;
}

.sectionHeaderText {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #17598C;
}

.headerSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 40px;
}

.selectorWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.middleSectionWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 48px 0;
}

.bottomSectionWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 19px;
  margin: 0 0 48px 0;
}

.buttonWrapper {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

.settingsWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 40px;

  div {
    flex: 1 1;
  }
}