.wrapper {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  margin: 0 0 48px 0;
}

.wrapperCreate {
  padding-left: 20px;
  margin: 0 0 48px 0;
  background: #FFFFFF;
  box-shadow: 0px 2px 22px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  .content {
    margin-left: -20px;
  }
}

.wrapperEdit {
  padding-left: 20px;
  margin: 0 0 48px 0;
  background: #FFFFFF;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  background-color: #F4f4f4;
  box-sizing: border-box;

  &.edit {
    display: block;
    // flex-direction: column;
    background-color: #Fff;
  }

  div,
  section {
    flex: 1 1 110px;
  }
  width: 100%;
}
textarea.error {
  border: 1px solid #B04040;
}

.leftBlock {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: space-between;

  &.edit {
    gap: 0;
    justify-content: space-between;
  }

  .bottomArea {
    justify-content: flex-end;
    min-height: 0px;
  }
  div {
    min-height: 120px;
  }
}

.textBlock {
  display: flex;
  flex-direction: column;
  padding: 10px 18.26px;
  background-color: #f4f4f4FF;
  box-sizing: border-box;
  max-height: 120px;

  p {
    overflow-y: auto;
    max-height: 600px;
    margin: 0;
  }

  &.description {
    max-height: 312px;
  }
}

.textBlockEdit {
  display: flex;
  flex-direction: column;
  padding: 0px 18.26px;
  background-color: #FFF;
  box-sizing: border-box;
  height: fit-content;
  // border: 1px solid #504F4F
  textarea {
    width: 100%;
    resize: none;
    border: 1px solid #504F4F;
    border-radius: 0px;
    padding: 4px 6px;

    &.error {
      border: 1px solid #B04040;
    }
  }
}

.purpose,
.tasks {
  height: 64px;
}

.descrition {
  height: 200px;
}

.textBlock textarea {
  border: none;
  border: 1px solid #504F4F
}

.textBlockDescription {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #504F4F;
}

.link {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #17598C;
  text-decoration: none;
}

.fileWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
