.wrapper {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  margin: 0 0 48px 0;
}

.wrapperCreate {
  padding-left: 20px;
  margin: 0 0 48px 0;
  background: #FFFFFF;
  box-shadow: 0px 2px 22px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  .content {
    margin-left: -20px;
  }
}
.header {
  padding-left: 0;
}

.wrapperEdit {
  padding-left: 20px;
  margin: 0 0 48px 0;
  background: #FFFFFF;

  .content {
    margin-left: -20px;
  }
}

.content {
  display: grid;
  grid-template-columns: [left] 1fr [middle] 1fr [right];
  grid-template-rows: [top] 46% [middle] 46% [bottom];
  height: 300px;
  gap: 24px;
}
textarea.error {
  border: 1px solid #B04040;
}

.leftBlock {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: space-between;

  &.edit {
    gap: 0;
    justify-content: space-between;
  }

  .bottomArea {
    justify-content: flex-end;
    min-height: 0px;
  }
  div {
    min-height: 120px;
  }
}

.textBlock {
  display: flex;
  flex-direction: column;
  padding: 10px 0 10px 18.26px;
  background-color: #f4f4f4FF;
  box-sizing: border-box;
  font-size: 14px;

  p {
    overflow-y: auto;
    max-height: 600px;
    margin: 0;
    padding-right: 20px;
  }

  p::-webkit-scrollbar {
    width: 3px;
  }
  
  p::-webkit-scrollbar-track {
    background-color: none;
  }
  
  p::-webkit-scrollbar-thumb {
    /*border-radius: 100px;*/
    background-color: #17598C;
    border-radius: 1.5px;
  }

}

.tasks {
  max-height: 312px;
  grid-column-start: middle;
  grid-column-end: right;
  grid-row-start: top;
  grid-row-end: bottom;
}

.textInput {
  height: 100%;
  border: 1px solid #504F4F;
  width: 100%;
  resize: none;
  border: 1px solid #504F4F;
  border-radius: 0px;
  padding: 4px 6px;

  &.error {
    border: 1px solid #B04040;
  }
}

.textBlockEdit {
  display: flex;
  flex-direction: column;
  padding: 0px 0 0 18.26px;
  background-color: #FFF;
  box-sizing: border-box;
}

.textBlockDescription {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.015em;
  color: #504F4F;
}
