.wrapper {
  position: relative;
  // max-width: 590px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  overflow-y: auto;

  &.edit {
    background: #FFFFFF;
    border: 0.5px solid #504F4F;
    border-radius: 10px;
    box-shadow: none;
    padding: 16px;
  }
}

.header {
  padding-left: 0px;
}

.content {
  display: flex;
  gap: 20px;
}

.addfieldsHeader {
  margin-bottom: 16px;
}

.addfieldInputWrapper {
  display: flex;
  gap: 20px;
  margin-bottom: 8px;
}

.colHeader {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #504F4F;
}

.listWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.parametersWrapper {
  display: flex;
  gap: 8px;

  & > div {
    flex: 1 1;
  }
}

.checkboxWrapper {
  display: flex;
  gap: 8px;
  align-items: flex-start;
  min-height: 24px;
}
