.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  max-height: fit-content;

  &.edit {
    box-shadow: none;
    border-radius: 0;
  }
  ol li>div {
    display: flex;
    div {
      flex: 1 0;
    }
  }
}

.header {
  padding-left: 0px;
}

.content {
  height: 100%;
}

.initiativeName {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #504F4F;
  margin-right: 50px;
}

.initiativeNumber {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #504F4F;
}

.paramsList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 0 0 20px;
}

.lastPermanent {
  margin-bottom: 10px;
}

.content {
  display: flex;
  gap: 141px;
}

.addfieldsHeader {
  margin-bottom: 16px;
}

.addfieldInputWrapper {
  display: flex;
  gap: 20px;
  margin-bottom: 8px;
}

.editButton {
  position: absolute;
  top: 66px;
  right: 20px;
}

.fieldsContent {
  font-size: 14px;
  padding-top: 3px;
}