.wrapper {

  table {
    table-layout: auto;
    border-collapse: separate;
    border-spacing: 20px;
    background: #F4F4F4;
    border-radius: 10px;
  }

  tr,
  th {
    // min-width: 120px;
    padding: 8px;
    text-align: center;
  }
}

.deleteCell {
  min-width: 0;
  width: 12px;
}

.tableWrapper {
  margin: 40px 0;
}

.readyButtonWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.modalWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 217px;
  gap: 26.47px;
}

.modalButtonsWrapper {
  display: flex;
  gap: 20px;
}

.modalButton {
  width: 102px;
}

.inProgress {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #17598C;
}

.outdated {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #B04040;
}

.ready {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #8DB040;
}

.planned {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #504F4F;
}