.wrapper {
  // width: fit-content;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  margin-bottom: 48px;
  min-width: 385px;

  &.edit {
    min-width: 345px;
    // width: fit-content;
    box-shadow: none;
    border-radius: 0px;
  }
}

.contentWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 33px;
}

.closeButton {
  position: absolute;
  top: 13px;
  right: 13px;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  // flex-flow: row wrap;
  gap: 33px;
  position: relative;
  border-radius: 10px;
}

.input {
  margin: 0px;
  border-radius: 3px;
}

.propertieWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 272px;
  // min-width: 500px;
  // max-width: 525px;
  padding: 26px 55px;
  border-radius: 10px;
  overflow-y: auto;

  &.edit {
    border: 1px solid #504F4F;
    background-color: #FFF;
    border-radius: 3px;
    padding: 20px 12px 20px 20px;
  }
}

.titleInput {
  width: 89%;
}

.propertieTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #504F4F;
}

.propertieValueWrapper {
  display: flex;
  gap: 10px;
  max-width: 100%;

  input {
    width: 100%;
  }
}

.value {
  flex: 6 1;
}

.short {
  flex: 4 1;
}

.control {
  flex: 1 0;
  display: flex;
  align-items: center;
}
