.wrapper {
  width: fit-content;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 2px 22px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 48px;
  min-width: 385px;

  &.edit {
    min-width: 345px;
    width: fit-content;
    box-shadow: none;
    border-radius: 0px;
  }
}

.contentWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 33px;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 70px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #17598C;
  margin: 0 0 24px 20px;

  &.edit {
    color: #504F4F;
  }
}

.content {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  gap: 33px;
  position: relative;
  border-radius: 10px;
}

.input {
  margin-right: 12px;
}

.propertieWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 272px;
  width: 385px;
  padding: 26px 55px;
  border-radius: 10px;
  overflow-y: auto;

  &.edit {
    border: 1px solid #504F4F;
    background-color: #FFF;
    border-radius: 0px;
  }
}