.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 288px;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
}

.buttonsWrapper {
  display: flex;
  gap: 20px;
}