.textInput {
  // min-width: 223px;
  height: 32px;
  border: 1px solid #504F4F;
  border-radius: 0;
  padding: 4px 8px;
}

.inputBorder {
  border: 1px solid #504F4F;
}

.error {
  border-color: #B04040 !important;
}