.sectionHeaderText {
  // padding: 8px 20px;
  padding: 8px 0px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  // color: #17598C;
  color: #504F4F;
}

.inputLabelText {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
