.wrapper {
  display: flex;
  flex-direction: column;
  width: 60%;

  box-sizing: border-box;
}

.buttonWrapper {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

.settingsWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 40px;

  div {
    flex: 1 1;
  }
}

.statusWrapper{ 
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.statusHeader {
  display: flex;
  gap: 10px;
  margin-bottom: 8px;
}

.fileInputWrapper {
  display: flex;
  gap: 10px;
}
