.wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(180deg, rgba(141, 176, 64, 0.4) 0%, rgba(23, 89, 140, 0.4) 100%);
}