.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  box-sizing: border-box;
}

.projectNameWrapper {
  display: flex;
  gap: 20px;
  margin-bottom: 24px;
}

.projectName {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

.pictogramWrapper {
  cursor: pointer;
}

.sectionHeaderText {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #17598C;
}

.headerSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 40px;
}

.selectorWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.settingsNav {
  display: flex;
  gap: 89px;
  list-style-type: none;
  padding: 0;
  margin : 0 0 56px 0;
}

.settingsNav li {
  position: relative;
}

.settingsNav .active:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid black;
}

.settingsNav a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: black;
}

.middleSectionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 48px 0;
  gap: 40px;
}

.bottomSectionWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 19px;
  margin: 0 0 48px 0;
}

.deleteButtonWrapper {
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  padding-bottom: 45px;
}

.modalWrapper {
  // position: absolute;
  // top: 0;
  // right: 0;
  // bottom: 0;
  // left: 0;
  width: 466px;
  height: 217px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 27px;
}

.modalMessage {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

.modalButtonsWrapper {
  display: flex;
  gap: 20px;
}

.modalButton {
  width: 102px;
}

.effects {
  display: flex;
  gap: 40px;
  
  & > div,
  & > section {
    flex: 1 1;
  }
}
