.wrapper {
  position: relative;
  height: 456px;
  padding: 16px;
  width: 345px;
}

.modalForm {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-top: 20px;
}

.inputLabel {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #000000;

  p {
    margin: 0;
  }

  p:last-child {
    color: #B04040;
  }
}

.modalInput {
  background: #FFFFFF;
  border: 1px solid #000000;
  height: 32px;
  width: 313px;
  border-radius: 0px;
}

button.button {
  position: absolute;
  width: 223px;
  bottom: 16px;
  left: 50%;
  transform: translate(-50%);
}

.error {
  margin-top: 8px;
  color: #B04040;
}