.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #F4F4F4;
  padding: 20px;
  border-radius: 10px;
}

.formElement {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  
  input {
    border: 1px solid #504F4F;
  }
}

.error {
  border-color: #B04040 !important;
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  width: 100%;
}

.rightButtonBlock {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}