.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #F4F4F4;
  padding: 20px;
  border-radius: 10px;
}

.formElement {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}