.wrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: rgba(255, 255, 255, 0.5);
}

.header {
  width: 100%;
  margin-bottom: 40px;
}

.effectsWrapper {
  display: flex;
  width: 100%;
  gap: 40px;
  margin-bottom: 40px;

  div,
  section {
    flex-shrink: 1;
  }
}