.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 506px;
  background-color: white;
  border: 1px solid #504F4F;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #504F4F;
  span {
    color: #B04040;
  }
}

.message {
  margin: 0;
  max-width: 304px;

  &.final {
    max-width: 100%;
    margin: 92px 122px 84px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #504F4F;
  }
}

.input {
  height: 56px;
  width: 100%;
  border: 1px solid #504F4F;
  margin-bottom: 10px;
  padding: 8px 10px;
  font-size: 32px;
  line-height: 40px;
}

.buttonWrapper {
  align-self: center;
  margin-top: 22px;
  width: 224px;
  height: 48px;
}

.linkWrapper {
  a {
    text-decoration: none;
    color: #17598C;
  }
}